@charset "UTF-8";

/*
Plugin Name: Studio Rude Box WC Subordernator
Description: Add the ability to link a WooCommerce order to another order, creating a parent–suborder relationship.
Version: 2.1.1
Author: Studio Rude Box
Author URI: https://studiorudebox.nl
*/

#srb_subordernator_order_id {
    width: 1.5rem;
}

.order-status a.srb-subordernator-btn {
    display: inline-block;
    padding: 0 1em;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    color: #7f7f7f;
}

.order-status:hover {
    background: #40403f;
}

.order-status:hover a.srb-subordernator-btn {
    color: #e5e5e5;
}